// 1. Import the initial variables
@import '../node_modules/bulma/sass/utilities/initial-variables.sass';
@import '../node_modules/bulma/sass/utilities/functions.sass';

// 2. Set your own initial variables
$purple: #2f3061;
$yellow: #f9dc5c;
$red: #f25f5c;
$green: #34d1bf;
$violet: #8075ff;
$family-sans-serif: 'Open Sans', sans-serif;

// 3. Set the derived variables
$primary: $violet;
$success: $green;
$warning: $yellow;
$danger: $red;
$link: $violet;
$dark: $purple;
$family-primary: $family-sans-serif;

// 6. Import the rest of Bulma
@import '../node_modules/bulma/bulma.sass';

.navbar-brand {
  font-family: 'Space Mono', monospace;
  font-weight: bold;
}

.collectionTitle {
  background: $white-ter;
  text-align: center;
  padding: 0.3rem;
  border-radius: 4px;
}
